<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>purchaseCode</key>
	<string></string>
	<key>webView</key>
	<dict>
		<key>url</key>
		<string></string>
		<key>customUserAgent</key>
		<string></string>
		<key>waitUntilLoaded</key>
		<false/>
		<key>allowPullToRefresh</key>
		<false/>
		<key>allowBounce</key>
		<false/>
		<key>allowCache</key>
		<true/>
		<key>allowVideoPlayInline</key>
		<true/>
		<key>allowLinkPreview</key>
		<true/>
		<key>allowBackForwardSwipe</key>
		<true/>
		<key>allowPictureInPicture</key>
		<false/>
		<key>customURLSchemes</key>
		<array>
			<string>itms-services</string>
			<string>itunes.apple.com</string>
			<string>telprompt</string>
			<string>sms</string>
			<string>mailto</string>
			<string>comgooglemaps</string>
			<string>whatsapp</string>
		</array>
		<key>externalLinks</key>
		<array>
			<string></string>
		</array>
	</dict>
	<key>toolbar</key>
	<dict>
		<key>isEnabled</key>
		<true/>
		<key>backgroundColor</key>
		<string></string>
		<key>buttonColor</key>
		<string></string>
		<key>customButtons</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>navigationBar</key>
	<dict>
		<key>isEnabled</key>
		<true/>
		<key>isStatusBarLight</key>
		<false/>
		<key>backgroundColor</key>
		<string></string>
		<key>titleColor</key>
		<string></string>
		<key>enableProgress</key>
		<true/>
		<key>progressColor</key>
		<string></string>
	</dict>
	<key>oneSignal</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>appId</key>
		<string></string>
		<key>restApiKey</key>
		<string></string>
	</dict>
	<key>adMob</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>appId</key>
		<string></string>
		<key>bannerUnitID</key>
		<string></string>
		<key>interstitialUnitID</key>
		<string></string>
		<key>rewardedUnitID</key>
		<string></string>
	</dict>
	<key>facebook</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>facebookID</key>
		<string></string>
	</dict>
	<key>rateMyApp</key>
	<dict>
		<key>isEnabled</key>
		<true/>
		<key>appleID</key>
		<string></string>
		<key>promptForReviewCounter</key>
		<integer>5</integer>
	</dict>
	<key>font</key>
	<dict>
		<key>name</key>
		<string>Montserrat-Regular</string>
		<key>size</key>
		<integer>15</integer>
	</dict>
	<key>menu</key>
	<dict>
		<key>isEnabled</key>
		<true/>
		<key>backgroundColor</key>
		<string></string>
		<key>buttonColor</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>gps</key>
	<dict>
		<key>isEnabled</key>
		<true/>
		<key>willRequestAlways</key>
		<false/>
	</dict>
	<key>activityIndicator</key>
	<dict>
		<key>isEnabled</key>
		<true/>
		<key>message</key>
		<string>Loading...</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>inAppPurchase</key>
	<dict>
		<key>isEnabled</key>
		<false/>
		<key>productId</key>
		<string></string>
	</dict>
</dict>
</plist>
